In [68]:
#import required modules
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [53]:
#Reading data from excel to pandas data frame
df = pd.read_excel('Rental_Data.xlsx', 'Sheet3')
df.head()
X = df.iloc[:,0:2]
y = df.iloc[:,-1]

   Apt_Type  RENT
0         4  4640
1         1  2274
2         2  2687
3         3  3316
4         4  4944

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [70]:
clf = DecisionTreeClassifier(random_state=0)
clf = clf.fit(X_train, y_train)
y_pred = clf.predict([[4,2000]])
print(y_pred)

[11209]

In [71]:
print(clf.score(X_test, y_test))

0.012903225806451613